
@media (max-width: 1024px) {
  .l-content-fixed  {
    padding: 0 40px;
  }
}
@media (max-width: 600px) {
  .l-content-fixed,
  .l-main {
    width: auto;
  }
  .l-main{
   max-width: 100%;
  }
 .l-main {
   margin-right: 0;
  }
 .l-content-fixed {
   padding: 0 1rem;
  }
 #content {
   display: block;
  }
}

#container {
 min-width: 980px;
}
.l-content-fixed {
 width: 980px;
 margin:0 auto;
}
.l-content-expanded {
  width: auto;
  margin: 0;
}
.l-multicolumn {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 50px -20px;
}
.l-3column > .l-column {
  width: calc(100% / 3);
  padding: 0 20px;
}
.l-2column > .l-column {
  width: calc(100% / 2);
  padding: 0 20px;
}
