.section {
padding: 60px 0;
font-size: 1rem;
text-align: center;
}
.section-header {
  margin: 0 0 2.5em 0;
  line-height: 1.2;
}
.section-title {
  margin: 0;
  font-family: "BIZ UDP明朝", sans-serif;
  font-size: 50px;
  font-weight: bold;
}
.section-subtitle {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
.section-item-symbol {
  height: 120px;
}
.section-item-tytle {
  margin: 1em 0 0.5em 0;
  font-size: 1.5em;
  text-align: center;
}
.section-item-description {
  margin: 0;
  font-size: 1em;
  text-align: left;
}
.section .btn {
  padding: .75rem 1rem;
  width: 15rem;
  font-size: 1em;
}
.section-map {
  width: 100%;
  margin-top: 5em;
}
